<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controle de Academia</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <header>
        <div class="links">
            <a class="active" href="/">Instructors</a>
            <a href="/members">Members</a>
        </div>
    </header>

    {% block content %}
    {% endblock content %}

    <footer class="main_footer">
        <p>&copy; 2019 - 2020 Todos os Direitos Reservados.</p>
    </footer>
</body>
</html>