/.vscode

/03-controle_de_academia/node_modules
/04-banco-de-dados/node_modules
/05-e-commerce-&-06-envio-de-imagens/node_modules
/07-cadastrando-usuario/node_modules


/desafio05(site-foodfy)
/foodfy