{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">

        <div class="header">
            <a class="button" href="/instructors/create">
                <i class="fas fa-jedi"></i>
                Juntar-se a resistência
            </a>
            <form action="/instructors" method="GET">
                <input
                name="filter"
                placeholder="Filtrar por nome"
                value="{{ filter }}">
                <button class="button" type="submit">Filtrar</button>
            </form>
        </div>
        <table width="100%">
            <thead class="item_details-title">
                {# Cabeçalho da tabela #}
                <th>instructors</th>
                <th>Services</th>
                <th>Alunos</th>
                <th>Ação</th>

            </thead>
            <tbody>
                {# enviando mais de um instrutor #}
                {% for instructor in instructors %}
                    <tr>
                        <td>
                            <span style="background-image: url( {{ instructor.avatar_url }} );"></span>
                            {{ instructor.name }}
                        </td>

                        <td class="item">
                            <span>{{ instructor.services }}</span>
                        </td>

                        <td class="item">
                            <span>{{ instructor.total_instructors }}</span>
                        </td>

                        <td>
                            <a class="button" href="/instructors/{{ instructor.id }}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        <div class="pagination"
            data-page="{{pagination.page}}"
            data-total="{{pagination.total}}"
        ></div>
    </div>

    <div class="links">
        <a href="/instructors/create">
            <i class="fas fa-jedi"></i>
            Juntar-se a Força</a>
    </div>

{% endblock content %}